---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=denver&subject=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.127 TT 0 0.143"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 52,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL15007298W",
                    "type": "work",
                    "seed": [
                        "/books/OL583397M",
                        "/books/OL24010957M",
                        "/books/OL24028567M",
                        "/books/OL24039435M",
                        "/works/OL15007298W",
                        "/subjects/exhibitions",
                        "/subjects/artistic_photography",
                        "/subjects/pictorial_works",
                        "/subjects/landscape_photography",
                        "/subjects/landscapes",
                        "/subjects/landscape",
                        "/subjects/photography_artistic",
                        "/subjects/denver_(colo.)_description_and_travel",
                        "/subjects/photography_exhibitions",
                        "/subjects/person:robert_adams_(1937-)",
                        "/subjects/place:denver_region",
                        "/subjects/place:colorado",
                        "/subjects/place:denver_region_(colo.)",
                        "/authors/OL25655A"
                    ],
                    "title": "What we bought-- the new world",
                    "title_suggest": "What we bought-- the new world",
                    "subtitle": "scenes from the Denver metropolitan area, 1970-1974",
                    "has_fulltext": true,
                    "edition_count": 4,
                    "edition_key": [
                        "OL583397M",
                        "OL24010957M",
                        "OL24028567M",
                        "OL24039435M"
                    ],
                    "publish_date": [
                        "2009",
                        "1995"
                    ],
                    "publish_year": [
                        2009,
                        1995
                    ],
                    "first_publish_year": 1995,
                    "number_of_pages_median": 200,
                    "lccn": [
                        "2009921882",
                        "96172929"
                    ],
                    "publish_place": [
                        "Hannover",
                        "New Haven"
                    ],
                    "oclc": [
                        "34768414"
                    ],
                    "contributor": [
                        "Weski, Thomas.",
                        "Sprengel Museum Hannover.",
                        "Stiftung Niedersachsen."
                    ],
                    "lcc": [
                        "TR-0660.50000000.A346 2009",
                        "F--0784.00000000.D443",
                        "F--0784.00000000.D443 A4 1995"
                    ],
                    "ddc": [
                        "779.092"
                    ],
                    "isbn": [
                        "9780300149630",
                        "3891690940",
                        "9783891690949",
                        "0300149638"
                    ],
                    "last_modified_i": 1606275745,
                    "ebook_count_i": 1,
                    "ia": [
                        "whatweboughtneww0000adam"
                    ],
                    "public_scan_b": true,
                    "cover_edition_key": "OL583397M",
                    "cover_i": 9750554,
                    "publisher": [
                        "Yale University Art Gallery",
                        "Stiftung Niedersachsen",
                        "Distributed by Yale University Press"
                    ],
                    "language": [
                        "ger",
                        "eng"
                    ],
                    "author_key": [
                        "OL25655A"
                    ],
                    "author_name": [
                        "Robert Adams"
                    ],
                    "person": [
                        "Robert Adams (1937-)"
                    ],
                    "place": [
                        "Denver Region",
                        "Colorado",
                        "Denver Region (Colo.)"
                    ],
                    "subject": [
                        "Exhibitions",
                        "Artistic Photography",
                        "Pictorial works",
                        "Landscape photography",
                        "Landscapes",
                        "Landscape",
                        "Photography, artistic",
                        "Denver (colo.), description and travel",
                        "Photography, exhibitions",
                        "Accessible book"
                    ],
                    "id_goodreads": [
                        "71250"
                    ],
                    "id_librarything": [
                        "3293691"
                    ],
                    "publisher_facet": [
                        "Distributed by Yale University Press",
                        "Stiftung Niedersachsen",
                        "Yale University Art Gallery"
                    ],
                    "person_key": [
                        "robert_adams_(1937-)"
                    ],
                    "place_key": [
                        "colorado",
                        "denver_region",
                        "denver_region_(colo.)"
                    ],
                    "person_facet": [
                        "Robert Adams (1937-)"
                    ],
                    "subject_facet": [
                        "Accessible book",
                        "Artistic Photography",
                        "Denver (colo.), description and travel",
                        "Exhibitions",
                        "Landscape",
                        "Landscape photography",
                        "Landscapes",
                        "Photography, artistic",
                        "Photography, exhibitions",
                        "Pictorial works"
                    ],
                    "_version_": 1715077698316926978,
                    "place_facet": [
                        "Colorado",
                        "Denver Region",
                        "Denver Region (Colo.)"
                    ],
                    "lcc_sort": "TR-0660.50000000.A346 2009",
                    "author_facet": [
                        "OL25655A Robert Adams"
                    ],
                    "subject_key": [
                        "accessible_book",
                        "artistic_photography",
                        "denver_(colo.)_description_and_travel",
                        "exhibitions",
                        "landscape",
                        "landscape_photography",
                        "landscapes",
                        "photography_artistic",
                        "photography_exhibitions",
                        "pictorial_works"
                    ],
                    "ddc_sort": "779.092"
                },
                {
                    "key": "/works/OL3483563W",
                    "type": "work",
                    "seed": [
                        "/books/OL6271143M",
                        "/books/OL3168970M",
                        "/books/OL7909927M",
                        "/works/OL3483563W",
                        "/subjects/history",
                        "/subjects/buildings_structures",
                        "/subjects/buildings",
        [...]
