---
http_interactions:
- request:
    method: post
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=gSc3c6jtoctNHXeLjYw8LGzaxhGnAms4
    body:
      encoding: UTF-8
      string: '{"location":"San Antonio,TX","options":{"thumbMaps":false}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 05 Mar 2022 17:26:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"street":"San
        Antonio,TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"San
        Antonio","adminArea5Type":"City","adminArea4":"Bexar County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039162","unknownInput":"","type":"s","latLng":{"lat":29.425173,"lng":-98.494599},"displayLatLng":{"lat":29.425173,"lng":-98.494599}}]}]}'
  recorded_at: Sat, 05 Mar 2022 17:26:47 GMT
recorded_with: VCR 6.0.0
