---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=san%20antonio&subject=travel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.640 TT 0 0.659"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 37,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL565090W",
                    "type": "work",
                    "seed": [
                        "/books/OL14541394M",
                        "/books/OL14683962M",
                        "/books/OL15397917M",
                        "/books/OL15406399M",
                        "/books/OL17794389M",
                        "/books/OL17686376M",
                        "/books/OL17838434M",
                        "/books/OL17837953M",
                        "/books/OL467114M",
                        "/books/OL437835M",
                        "/books/OL1770086[...]
