---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&exclude=minutely,alerts&lat=29.425173&lon=-98.494599&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.4252,"lon":-98.4946,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1646787345,"sunrise":1646743914,"sunset":1646786270,"temp":54.68,"feels_like":52.25,"pressure":1014,"humidity":51,"dew_point":36.93,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":9.22,"wind_deg":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1646784000,"temp":55.31,"feels_like":52.9,"pressure":1014,"humidity":50,"dew_point":37,"uvi":0,"clouds":7,"visibility":10000,"wind_speed":11.14,"wind_deg":46,"wind_gust":16.6,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1646787600,"temp":54.68,"feels_like":52.25,"pressure":1014,"humidity":51,"dew_point":36.93,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.49,"wind_deg":58,"wind_gust":21.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1646791200,"temp":53.56,"feels_like":51.12,"pressure":1014,"humidity":53,"dew_point":36.88,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":11.54,"wind_deg":59,"wind_gust":25.37,"weather":[{"id":800,"main":"Cl[...]
