---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e5806a4394cf7e3cb5e56508720f6ed0&exclude=minutely,alerts&lat=29.425173&lon=-98.494599&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.4252,"lon":-98.4946,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1646510375,"sunrise":1646484917,"sunset":1646526956,"temp":77.16,"feels_like":77.54,"pressure":1012,"humidity":63,"dew_point":63.61,"uvi":5.35,"clouds":80,"visibility":10000,"wind_speed":14.7,"wind_deg":184,"wind_gust":19.15,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1646506800,"temp":77.23,"feels_like":77.49,"pressure":1012,"humidity":60,"dew_point":62.28,"uvi":6.39,"clouds":81,"visibility":10000,"wind_speed":12.17,"wind_deg":201,"wind_gust":20.07,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1646510400,"temp":77.16,"feels_like":77.54,"pressure":1012,"humidity":63,"dew_point":63.61,"uvi":5.35,"clouds":80,"visibility":10000,"wind_speed":14.7,"wind_deg":184,"wind_gust":19.15,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1646514000,"temp":78.08,"feels_like":78.37,"pressure":1012,"humidity":59,"dew_point":62.6,"uvi":3.59,"clouds":76,"visibility":10000,"wind_speed":15.55,"wind_deg":178,"wind_gust":17.58,"weather":[{"id":8[...]
